html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* navbar start */
.topnav {
  display: flex;
  background-color: black;
  overflow: hidden;
  width: 100%;
  height: 70px;
  align-items: center;
}

.topnav a {
  float: left;
  display: flex;
  color: #f2f2f2;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
  text-decoration: none;
  font-size: 17px;
  width: 20%;
  flex-direction: column;
}

.topnav a:hover {
  color: cyan;
}

.topnav a.active {
  color: cyan;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 380px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}
.active {
  color: cyan;
}
@media screen and (max-width: 380px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    padding: 10 10px;
    text-align: center;
  }
}

/* navbar end */

.center {
  text-align: center;
}
#head {
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
  color: rgb(58, 5, 5);
}
a {
  display: block;
  text-decoration: none;
}
.flex {
  display: flex;
  margin: 10px;
  padding: 10px;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: space-evenly;
}
@media screen and (max-width: 650px) {
  .flex {
    flex-direction: column;
  }
}


/* Footer  */


#footerinfo{
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-evenly;
  color: white;
}
.footercontainer{
  display: flex;
  justify-content: space-evenly;
  gap: 130px;
}

.lastfoot ul{
  margin-top: 25px;
}

.lastfoot p{
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 5px;
  font-family: 'Times New Roman', Times, serif;
}

.handles{
  margin-top: 25px;
}

#footerinfo .bg1{
  position: absolute;
  right: 0;
  border-radius: 800px;
  height: 100px;
  width: 100px;
  margin: 190px 2px;
}

#footerinfo .bg2{
  position: absolute;
  right: 0;
  border-radius: 800px;
  height: 30px;
  width: 30px;
  margin: 145px 15px;
}
#footerinfo .bg3{
  position: absolute;
  right: 0;
  border: solid;
  border-color: white;
  border-radius: 800px;
  height: 15px;
  width: 15px;
  margin: 120px 50px;
}

#footerinfo .bg2left{
  position: absolute;
  left: 0;
  border-radius: 800px;
  height: 30px;
  width: 30px;
  margin: 10px 20px;
}
#footerinfo .bg3left{
  position: absolute;
  left: 0;
  border: solid;
  border-color: white;
  border-radius: 800px;
  height: 15px;
  width: 15px;
  margin: 50px 50px;
}

.copy{
  background-color: black;
  padding: 20px;
  text-align: center;
  color: white;
}

@media screen and (max-width: 767px){
  #footerinfo .bg1{
    display: none;
  }

  #footerinfo .bg2{
    display: none;
  }
  #footerinfo .bg3{
    display: none;
  }

  #footerinfo .bg2left{
    display: none;
  }

  #footerinfo .bg3left{
    display: none;
  }

  .lastfoot{
    width: 50%;
    margin-bottom: 30px;
  }
}


/*reviews start*/
.review {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.rw {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rw-img img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1000px) {
  .review {
    flex-direction: column;
  }
}
/*reviews end*/

